<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notebook</title>
</head>
<body>
    <div style="width: 600px; margin: auto;">
        <h1>Notebook</h1>
        
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}

        <hr>
        <form action="/notebook" method="post" id="notebook">
            <table>
                <tr>
                    <td>
                        <label for="title">Title</label>
                    </td>
                    <td>
                        <input type="text" name="title" id="title">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="note">Content</label>
                    </td>
                    <td>
                        <textarea name="note" id="note" cols="30" rows="10" form="notebook"></textarea>
                    </td>
                </tr>
            </table>
            <input type="submit" value="Add">
        </form>
        <hr>
        <form action="/notebook/clear" method="post">
            <input type="submit" value="Clear">
        </form>
        <br>
        <form action="/notebook" method="get">
            <label for="number">Show</label>
            <input type="number" name="number" id="number" value="{{ number }}" min="1">
            <label>notes</label>
            <input type="submit" value="Apply">
        </form>
        <br>
       <table style="border: 1px solid; border-collapse: collapse; width: 100%;">
           {% for note in notes %}
               <tr>
                   <td style="border: 1px solid; text-align: center;">
                        <h3>{{ note.title }}</h3>
                   </td>
                   <td style="border: 1px solid; text-align: center;">
                       <p>{{ note.content }}</p> 
                   </td>
               </tr>
           {% endfor %}

       </table>
    </div>
</body>
</html>